@import url(./grid.css);
@import url(./normalize.css);
@import url(./a11y.css);
@import url(./theme.css);
@import url(./base.css);

/* 공통 스타일 */
body{
  background-color: var(--yellow);
}

@media (min-width:240px) and (max-width:768px){
  body{
    background-color: var(--green);
  }
}

/* 중단 지점-769px이상 */
@media (min-width:769px){
  body{
    background-color: var(--blue);
  }
}
.news__videoContainer{width:50%;} 

.book__cover{
  width:400px;
}